@jds:registry=https://pkgs.dev.azure.com/JIO-DSP/_packaging/DS-FEED/npm/registry/
always-auth=true
//pkgs.dev.azure.com/JIO-DSP/_packaging/DS-FEED/npm/registry/:username=JIO-DSP
//pkgs.dev.azure.com/JIO-DSP/_packaging/DS-FEED/npm/registry/:_password=NGt4cGhsdm00YWdlc3pncHdwMmF3NWxtNnh1dWdmYXRraW1zZWdhaHZleXI2cHFzN2l4cQ==
//pkgs.dev.azure.com/JIO-DSP/_packaging/DS-FEED/npm/:username=JIO-DSP
//pkgs.dev.azure.com/JIO-DSP/_packaging/DS-FEED/npm/:_password=NGt4cGhsdm00YWdlc3pncHdwMmF3NWxtNnh1dWdmYXRraW1zZWdhaHZleXI2cHFzN2l4cQ==
registry=https://registry.npmjs.org/
no_proxy=pkgs.dev.azure.com