.headingSection {
    .title {
      color: var(--primary-color-80);
      line-height: 1.75rem; /* 116.667% */
      letter-spacing: -0.045rem;
    }
    .subTitle {
      color: var(--secondary-color-80);
      line-height: 1rem; /* 133.333% */
      letter-spacing: -0.00375rem;
    }
  }