.proposerDetails {
    background-color: red;
  .headingSection {
    .title {
      color: var(--primary-color-80);
      line-height: 1.75rem; /* 116.667% */
      letter-spacing: -0.045rem;
    }
    .subTitle {
      color: var(--secondary-color-80);
      line-height: 1rem; /* 133.333% */
      letter-spacing: -0.00375rem;
    }
  }
  .inputFieldsContainer {
    .prosperInputFields {
        display: flex;

      .prosperLabelContainer {
        display: flex;
        width: 9.25rem;
        padding: var(--spacing-3, 0.75rem);
        align-items: center;
        gap: 0.75rem;
        border-radius: var(--spacing-3, 0.75rem);
        border: 1px solid var(--light-sky-grey-40, #e0e0e0);
      }
    }
  }
}
